{
  "semi": true,
  "tabWidth": 2,
  "useTabs": true,
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 200,  
  "endOfLine": "auto",
  "bracketSpacing": true, 
  "importOrder": ["^[./]"], 
  "importOrderSeparation": true, 
  "importOrderSortSpecifiers": true
}
